@model IReadOnlyList<SportsTickerDemo.Models.NHLTickerGame>
<div id="nhl-ticker" class="nhl-ticker">
    <div class="nhl-ticker-inner">
        @await Html.PartialAsync("~/Views/Scores/_NHLTickerInner.cshtml", Model)
    </div>
</div>
<link href="~/css/site.css" rel="stylesheet" />
