################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NflTickerDemo/bin/Debug/net8.0/SportsTickerDemo.dll
/NflTickerDemo/bin/Debug/net8.0/SportsTickerDemo.exe
/NflTickerDemo/bin/Debug/net8.0/SportsTickerDemo.pdb
/NflTickerDemo/obj/Release/net8.0/ref/SportsTickerDemo.dll
/NflTickerDemo/obj/Release/net8.0/refint
/NflTickerDemo/obj/Release/net8.0/apphost.exe
/NflTickerDemo/obj/Release/net8.0/PublishOutputs.08a1ce9cca.txt
/NflTickerDemo/obj/Release/net8.0/rjimswa.dswa.cache.json
/NflTickerDemo/obj/Release/net8.0/rjsmcshtml.dswa.cache.json
/NflTickerDemo/obj/Release/net8.0/rjsmrazor.dswa.cache.json
/NflTickerDemo/obj/Release/net8.0/rpswa.dswa.cache.json
/NflTickerDemo/obj/Release/net8.0/SportsTi.270A4026.Up2Date
/NflTickerDemo/obj/Release/net8.0/SportsTickerDemo.AssemblyInfo.cs
/NflTickerDemo/obj/Release/net8.0/SportsTickerDemo.AssemblyInfoInputs.cache
/NflTickerDemo/obj/Release/net8.0/SportsTickerDemo.assets.cache
/NflTickerDemo/obj/Release/net8.0/SportsTickerDemo.csproj.CoreCompileInputs.cache
/NflTickerDemo/obj/Release/net8.0/SportsTickerDemo.csproj.FileListAbsolute.txt
/NflTickerDemo/obj/Release/net8.0/SportsTickerDemo.deps.json
/NflTickerDemo/obj/Release/net8.0/SportsTickerDemo.dll
/NflTickerDemo/obj/Release/net8.0/SportsTickerDemo.genpublishdeps.cache
/NflTickerDemo/obj/Release/net8.0/SportsTickerDemo.genruntimeconfig.cache
/NflTickerDemo/obj/Release/net8.0/SportsTickerDemo.MvcApplicationPartsAssemblyInfo.cache
/NflTickerDemo/obj/Release/net8.0/SportsTickerDemo.pdb
/NflTickerDemo/obj/Release/net8.0/SportsTickerDemo.sourcelink.json
/NflTickerDemo/obj/Release/net8.0/staticwebassets.build.endpoints.json
/NflTickerDemo/obj/Release/net8.0/staticwebassets.build.json
/NflTickerDemo/obj/Release/net8.0/staticwebassets.build.json.cache
/NflTickerDemo/obj/Release/net8.0/staticwebassets.development.json
/NflTickerDemo/obj/Release/net8.0/staticwebassets.publish.endpoints.json
/NflTickerDemo/obj/Release/net8.0/staticwebassets.publish.json
/NflTickerDemo/obj/Release/net8.0/staticwebassets.references.upToDateCheck.txt
/NflTickerDemo/obj/Release/net8.0/staticwebassets.removed.txt
/NflTickerDemo/obj/Release/net8.0/staticwebassets.upToDateCheck.txt
/NflTickerDemo/obj/Release/net8.0/swae.build.ex.cache
/NflTickerDemo/obj/Release/net8.0/swae.publish.ex.cache
/NflTickerDemo/obj/Docker/publish/SportsTickerDemo.deps.json
/NflTickerDemo/obj/Docker/publish/SportsTickerDemo.dll
/NflTickerDemo/obj/Docker/publish/SportsTickerDemo.exe
/NflTickerDemo/obj/Docker/publish/SportsTickerDemo.pdb
/NflTickerDemo/obj/Docker/publish/SportsTickerDemo.runtimeconfig.json
/NflTickerDemo/obj/Docker/publish/SportsTickerDemo.staticwebassets.endpoints.json
/NflTickerDemo/obj/Docker/publish/web.config
/NflTickerDemo/bin/Release/net8.0
/NflTickerDemo/obj/Debug/net8.0/ref/SportsTickerDemo.dll
/NflTickerDemo/obj/Debug/net8.0/refint/SportsTickerDemo.dll
/NflTickerDemo/obj/Debug/net8.0/apphost.exe
/NflTickerDemo/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/NflTickerDemo/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/NflTickerDemo/obj/Debug/net8.0/SportsTickerDemo.AssemblyInfo.cs
/NflTickerDemo/obj/Debug/net8.0/SportsTickerDemo.AssemblyInfoInputs.cache
/NflTickerDemo/obj/Debug/net8.0/SportsTickerDemo.dll
/NflTickerDemo/obj/Debug/net8.0/SportsTickerDemo.pdb
/NflTickerDemo/obj/Debug/net8.0/SportsTickerDemo.sourcelink.json
/NflTickerDemo/obj/Docker/publish/wwwroot
/NflTickerDemo/obj/Docker/publish/appsettings.Development.json
/NflTickerDemo/obj/Docker/publish/appsettings.json
