################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NflTickerDemo/bin/Debug/net8.0/SportsTickerDemo.dll
/NflTickerDemo/bin/Debug/net8.0/SportsTickerDemo.exe
/NflTickerDemo/bin/Debug/net8.0/SportsTickerDemo.pdb
/NflTickerDemo/obj/Release/net8.0/ref/SportsTickerDemo.dll
