@model IReadOnlyList<SportsTickerDemo.Models.NFLTickerView>
<div id="nfl-ticker" class="nfl-ticker">
    <div class="nfl-ticker-inner">
        @await Html.PartialAsync("~/Views/Scores/_NFLTickerInner.cshtml", Model)
    </div>
</div>
<link href="~/css/site.css" rel="stylesheet" />
