name: Build and deploy .NET application to container app sportstickerdemo
on: 
  push:
    branches:
    - main
permissions:
  id-token: write
  contents: read
env:
  CONTAINER_APP_CONTAINER_NAME: sportstickerdemo
  CONTAINER_APP_NAME: sportstickerdemo
  CONTAINER_APP_RESOURCE_GROUP_NAME: SportsTicker
  CONTAINER_REGISTRY_LOGIN_SERVER: sportstickerdemo20260116164653.azurecr.io
  DOCKER_FILE_PATH: NflTickerDemo/Dockerfile
  PROJECT_NAME_FOR_DOCKER: sportstickerdemo
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout to the branch
      uses: actions/checkout@v4
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Log in to container registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.CONTAINER_REGISTRY_LOGIN_SERVER }}
        username: ${{ secrets.SportsTickerDemo20260116164653_USERNAME_4595 }}
        password: ${{ secrets.SportsTickerDemo20260116164653_PASSWORD_4595 }}
    - name: Build and push container image to registry
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: ${{ env.CONTAINER_REGISTRY_LOGIN_SERVER }}/${{ env.PROJECT_NAME_FOR_DOCKER }}:${{ github.sha }}
        file: ${{ env.DOCKER_FILE_PATH }}
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Azure Login
      uses: azure/login@v2
      with:
        client-id: ${{ vars.sportstickerdemo_CLIENT_ID_4595 }}
        tenant-id: ${{ vars.sportstickerdemo_TENANT_ID_4595 }}
        subscription-id: ${{ vars.sportstickerdemo_SUBSCRIPTION_ID_4595 }}
    - name: Deploy to containerapp
      uses: azure/CLI@v2
      with:
        inlineScript: >
          az config set extension.use_dynamic_install=yes_without_prompt

          az containerapp registry set --name ${{ env.CONTAINER_APP_NAME }} --resource-group ${{ env.CONTAINER_APP_RESOURCE_GROUP_NAME }} --server ${{ env.CONTAINER_REGISTRY_LOGIN_SERVER }} --username ${{ secrets.SportsTickerDemo20260116164653_USERNAME_4595 }} --password ${{ secrets.SportsTickerDemo20260116164653_PASSWORD_4595 }}

          az containerapp update --name ${{ env.CONTAINER_APP_NAME }} --container-name ${{ env.CONTAINER_APP_CONTAINER_NAME }} --resource-group ${{ env.CONTAINER_APP_RESOURCE_GROUP_NAME }} --image ${{ env.CONTAINER_REGISTRY_LOGIN_SERVER }}/${{ env.PROJECT_NAME_FOR_DOCKER }}:${{ github.sha }}
    - name: logout
      run: >
        az logout
